# Dependency directories
/node_modules
__pycache__
/backend/.venv/
/backend/__pycache__/
/backend/app/__pycache__/

# Compiled code/build folders
/build
/dist
/frontend/dist

# Logs and environment
*.log
.env
.env.local
.DS_Store

# IDE and OS specific files
.vscode/